.scheduleMain {
    height: 100%;
    width: 100%;
    margin-top: 150px;
    margin-inline: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.dateBox {
    border: 1px solid black;
}

.calendarBox {
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.react-calendar {
    width: 100%;
}

.date {
    margin-bottom: 20px;
    font-size: 20px;
    padding: 10px;
    background-color: red;
    color: white;
    width: fit-content;
}

.scheduleMain button {
    padding: 10px;
}

.selectedTimes {
    background-color: white;
    display: flex;
    padding: 5px;
    border: 1px solid red;
    margin: 5px 0;
    width: fit-content;
}

.dateMain {
    position: relative;
    border: 1px solid black;
    margin-top: 20px;
    padding: 10px;
    width: 50vw;
}

.deleteButton {
    position: absolute;
    background-color: red;
    color: white;
    bottom: 0;
    right: 0;
    border: none;
}