.scheduleMain {
    height: 100%;
    width: 100%;
    margin-top: 150px;
    margin-inline: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.dateBox {
    border: 1px solid black;
}

.calendarBox {
    width: 50%;
    text-align: center;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.date {
    margin-bottom: 20px;
    font-size: 20px;
    padding: 10px;
    background-color: red;
    color: white;
    width: fit-content;
}

.scheduleMain button {
    padding: 10px;
}

.selectedTimes {
    display: flex;
}

.dateMain {
    position: relative;
    border: 3px solid black;
    margin-top: 20px;
    margin-right: 130px;
    padding: 10px;
}

.deleteButton {
    position: absolute;
    background-color: red;
    color: white;
    bottom: 0;
    right: 0;
    border: none;
}