.timesMain {
    display: flex;
    flex-direction: column;
}

.timesMain button {
    border: none;
    border-radius: 2px;
    margin: 5px;
    color: white;
}

.bookedName {
    margin-left: 20px;
    padding: 5px;
}

.bookedTime {
    width: 60px;
    padding: 5px;
}

.amPM {
    width: 70px;
    background-color: red;
}

.btnAlign {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.selected {
    display: grid;
    grid-template-columns: repeat(auto-fit, 100px);
}