.bookMain {
    width: 50vw;
    display: grid;
    place-content: center;
    margin-inline: auto;
    font-size: 20px;
    background-color: white;
    border: 1px solid red;
    border-radius: 5px;
    padding: 20px;
    overflow: hidden;
}

.overlay {
    height: 50vh;
    width: 60vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0, .3);
    overflow: hidden;
    border-radius: 5px;
}

.availAppButtons {
    display: flex;
}

.bookHeaders {
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* .apptTimes {
    display: flex;
    justify-content: space-between;
} */

.apptTimes button {
    padding: 10px 20px;
    width: 100%;
    font-size: 16px;
    margin: 5px;
}