.accountPageMain {
    height: 100%;
    width: 100%;
    display: flex;
    margin-top: 100px;
}

.accountPageBox {
    height: 100%;
    width: 90%;
    margin-inline: auto;
    display: flex;
}

.accountPageMain h1 {
    text-align: center;
    margin-top: 20px;
    text-transform: uppercase;
}

.accountPageInfo {
    width: 90%;
    margin-inline: auto;
    margin-top: 20px;
    height: 85%;
}

.accountPageInfo h3 {
    margin-inline: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.accountPageInfo p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}

.userInfoBox {
    border-radius: 5px;
    width: 50%;
    height: 100%;
}

.userImage {
    height: 50%;
    width: 50%;
    margin-bottom: 10px;
    border-radius: 2%;
    margin-left: 50%;
    transform: translate(-50%)
}

.appointmentBox {
    width: 50%;
    height: 100%;
}

.profileBtn {
    margin-left: 50%;
    transform: translate(-50%);
    height: 40px;
    padding: 10px;
    border: none;
    background-color: red;
    color: white;
}

.appointmentBox > h2 {
    text-align: center;
    margin-top: 60px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.appointmentBox p {
    font-size: 20px;
    padding: 5px;
    margin-left: 20px;
    position: relative;
}

.appointments {
    border: 1px solid black;
    width: 75%;
    margin-inline: auto;
    text-align: left;
    margin-top: 10px;
    height: 100%;
    padding-top: 30px;
}

.cancelAppointment {
    height: 30px;
    border: none;
    padding: 0 10px;
    color: white;
    background-color: red;
    margin-left: 50%;
    transform: translate(-50%);
    margin-top: 20px;
}

.formAlign {
    font-weight: bold;

}

.cancelConfirm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: red;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 35%;
    padding: 10px;
}

.cancelConfirm h3, p {
    text-align: center;
    margin-bottom: 10px;
}
.cancelConfirm h3 {
    text-decoration: underline;
    font-size: 24px;
    letter-spacing: 2px;
}

.cancelBtn {
    height: 40px;
    padding: 0 20px;
    margin-right: 40px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    margin-top: 40px;
}
.keepBtn {
    height: 40px;
    padding: 0 20px;
    background-color: white;
    border: none;
    cursor: pointer;
    margin-top: 40px;
}
.btnAlign {
    display: flex;
    justify-content: center;
}