.aboutMain {
    height: 100%;
    background-color: #fbf8f2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-y: visible;
}

.aboutBox {
    height: 100vh;
    width: 60%;
    display: flex;
    align-items: center;
}

.aboutBox p {
    font-family: "Cerulean NF", sans-serif;
    font-weight: normal;
    font-size: 3.1rem;
}

@media only screen and (max-width: 1200px) {
    .aboutBox p {
        font-family: "Cerulean NF", sans-serif;
        font-weight: normal;
        font-size: clamp(16px, 4vw, 3.1rem);
        line-height: 40px;
    }
    .aboutBox {
        height: 100%;
        width: 90%;
        display: flex;
        align-items: center;
    }
    .aboutMain {
        height: 100vh;
    }
  }