.showcaseMain {
    height: 100vh;
    display: flex;
    overflow-x: hidden;
    width: 100%;
}

.showBox1 {
    min-height: 100%;
    min-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image1 {
    height: 100%;
    width: 100%;
}

.showBox2 {
    background: white;
    min-height: 100%;
    max-height: 100%;
    min-width: 50%;
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.showcaseTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: clamp(3em, 27vw, 150px);
    color: red;
    letter-spacing: 5px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    z-index: 1;
    font-family: 'Anton', sans-serif;
}

.barber2 {
    background: rgb(0, 0, 0, .2);
    border-radius: 5px;
    min-height: clamp(2vw, 40%, 10vh);
    width: 50%;
    background-position: center;
    padding: 15px 10px 0 10px; 
}

.downArrow {
    background: #fbf8f2;
    height: 50px;
    width: 30px;
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
    bottom: -30px;
    color: black;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1200px) {
    .barber2 {
      display: none;
    }
    .showBox1 {
        height: 100%;
        min-width: 150%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('../../assets/barber2.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 1;
    }
  }