.accountMain {
     border-radius: 5px;
    margin-top: 180px;
    margin-right: 30px;
    position: absolute;
    display: flex;
    padding: 5px;
    height: 200%;
    overflow-y: hidden;
}

.accountMain li{
 font-family: "GT-America-Regular",sans-serif;
 font-size: 16px;
}

.accountMain ul {
text-align: center;
overflow:visible;
}

.logout {
    background-color: red;
    padding: 5px;
    color: white;
}